<div>
  <div>
    <h1>
      Summary #<%= @the_summary.id %> details
    </h1>

    <div>
      <div>
        <a href="/summaries">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_summary/<%= @the_summary.id %>">
          Delete summary
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @the_summary.body %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_summary.user_id %>
      </dd>

      <dt>
        Article
      </dt>
      <dd>
        <%= @the_summary.article_id %>
      </dd>

      <dt>
        Public
      </dt>
      <dd>
        <%= @the_summary.public %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_summary.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_summary.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit summary
    </h2>

    <form action="/modify_summary/<%= @the_summary.id %>"  method="post" >
      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body" value="<%= @the_summary.body %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_summary.user_id %>">
      </div>

      <div>
        <label for="article_id_box">
          Article
        </label>

        <input type="text" id="article_id_box" name="query_article_id" value="<%= @the_summary.article_id %>">
      </div>

      <div>
        <input type="checkbox" id="public_box" name="query_public" value="1" <%= "checked" if @the_summary.public %>>

        <label for="public_box">
            Public
        </label>
      </div>

      <button>
        Update summary
      </button>
    </form>
  </div>
</div>

<hr>
