<div class="container mt-3">
  <div class="card">
    <div>
      <div>
        <% if @the_article.read == true %>        
          <a href="/things_ive_read">
            Go back
          </a>
        <% else %>
          <a href="/things_to_read">
            Go back
          </a>
        <% end %>
      </div>
      
      <h1>
        <%= @the_article.headline %>
      </h1>

      <dl>
        <dt>
          <a href="<%= @the_article.url %>" target="_blank">Link</a>
        </dt>
        
        <dt>
          Headline
        </dt>
          <dd>
            <%= @the_article.headline %>
          </dd>

        
        <% if @its_takeaway.present? %>
          
          <dt>Takeaway</dt>
            <dd><%= @its_takeaway.body %></dd>

        <% end %>

          
        <% if @the_article.read == true %>
        
          <dt>Read</dt>
            <dd>
              You read this article <%= time_ago_in_words(@the_article.read_at) %>.
            </dd>

        <% else %>

          <dt>Unread</dt>
          <dd></dd>

        <% end %>

        <dt>
          Added on
        </dt>
          <dd>
            <%= @the_article.created_at.strftime("%B %d, %Y") %>
          </dd>

        <% if @its_takeaway.present? %>

          <dt>You committed this article to Memoread on</dt>
            <dd><%= @its_takeaway.created_at.strftime("%B %d, %Y") %></dd>

        <% end %>

        <dt>
          <a href="/delete_article/<%= @the_article.id %>">Delete Article</a>
        </dt>

      </dl>
    </div>
  </div>

  &nbsp;

  <% if @its_takeaway.present? %>

  <% else %>

    <div class="card">

      <form action="/insert_takeaway" method="post">

        <input id="article_id" name="query_article_id" type="hidden" value="<%= @the_article.id %>">

        <div> 
        
          <div class="form-group">
            <label for="body_box">What do you want to remember from this article?</label>
          </div>

          <div class="form-group">
            <textarea id="body_box" name="query_body" placeholder="Type a quick takeaway here..."></textarea>
          </div>

        </div>
        
        <div class="button-submit">
          <button class="btn btn-primary">Commit to memory</button>
        </div>

      </form>

    </div>

    <hr>

  <% end %>

  <div class="card">
    <div>
      <h2>
        Edit article
      </h2>

      <form action="/modify_article/<%= @the_article.id %>"  method="post" >
        <div>
          <label for="url_box">
            Url
          </label>

          <input type="text" id="url_box" name="query_url" value="<%= @the_article.url %>">
        </div>

        <div>
          <label for="headline_box">
            Headline
          </label>

          <input type="text" id="headline_box" name="query_headline" value="<%= @the_article.headline %>">
        </div>

        <div>
          <input type="checkbox" id="read_box" name="query_read" value="1" <%= "checked" if @the_article.read %>>

          <label for="read_box">
              Read?
          </label>
        </div>

        <button class="btn btn-primary">
          Update article
        </button>
      </form>
    </div>
  </div>

</div>
