<div class="container mt-3">  

  <div class="card">

    <div class="row text-center">
    
      <div class="col-md-4 offset-md-4">
      
        <h2>Things to Read<h2>

      </div>

    </div>

    <div class="row text-center">

      <div class="col-md-3 offset-md-3">
      
        <span class="font-weight-bold">Article</span>
      
      </div>

      <div class="col-md-3 offset-md-3">
      
        <span class="font-weight-bold">Added</span>
      
      </div>

    </div>

    <% @things_to_read.each do |an_article| %>
    
      <% if an_article.present? && an_article.read == false %>
      
        <div class="row text-center">

          <div class="col-md-3 offset-md-3">

            <a href="/link/<%= an_article.id %>" target="_blank">
            
              <span><%= an_article.headline %> (<a href="/articles/<%= an_article.id %>">Details</a>)</span>
              
            </a>

          </div>

          <div class="col-md-3 offset-md-3">

            <span><%= time_ago_in_words(an_article.created_at) %></span>
              
            </a>

          </div>

        </div>
      
      <% end %>

    <% end %>

  </div>

  <hr>

  <div class="card">

    <div class="row text-center">
    
      <div class="col-md-12">
      
        <h2>Things I've Learned<h2>

      </div>

    </div>

    <div class="row text-center">

      <div class="col-md-3 offset-md-3">
      
        <span class="font-weight-bold">Article</span>
      
      </div>

      <div class="col-md-3 offset-md-3">
      
        <span class="font-weight-bold">Takeaway</span>
      
      </div>

    </div>

    <% @things_ive_learned.each do |a_takeaway| %>
    
      <% if a_takeaway.present? %>
      
        <div class="row text-center">

          <div class="col-md-3 offset-md-3">
          
            <a href="/articles/<%= a_takeaway.article_id %>">
            
              <span><%= a_takeaway.article.headline %></span>
              
            </a>

          </div>

          <div class="col-md-3 offset-md-3">
          
            <a>
            
              <span><%= a_takeaway.body %></span>
              
            </a>

          </div>

        </div>
      
      <% end %>

    <% end %>

  </div>

</div>