<!DOCTYPE html>
<html>
  <head>
    <title>Memoread</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Load Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Passion+One:wght@400&display=swap" rel="stylesheet">

    <!-- Load custom stylesheet -->
    <link href="/stylesheets/memoread_styles.css" rel="stylesheet"> 

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-purple fixed-top">
      
      <a class="navbar-brand" href="/">
      
        <span class="h2 font-weight-bold">MEMOREAD</span>
      
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
        <span class="navbar-toggler-icon"></span>
      
      </button>

      <div class="collapse navbar-collapse mt-auto" id="navbarSupportedContent">
        
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
            <a class="nav-link" href="/my_articles">Things to Read</a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href="/my_takeaways">Things I've Learned</a>
          </li>

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Add... 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/">Something to Read</a>
              <a class="dropdown-item" href="/new_takeaway">Something to Remember</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav mr-auto"></ul>
        
        <ul class="navbar-nav">

          <% if @current_user.present? %>

            <li class="nav-item active">

              <a class="nav-link" href="/my_profile">My Profile</a>

            </li>

            <li class="nav-item active">

              <a class="nav-link" href="/user_sign_out">Sign Out</a>

            </li>

          <% else %>

            <li class="nav-item active">

              <a class="nav-link" href="/user_sign_in">Sign In</a>

            </li>

            <li class="nav-item active">

              <a class="nav-link" href="/user_sign_up">Sign Up</a>

            </li>

          <% end %>
        
        </ul>

      </div>
    </nav>

    <% if notice.present? %>

      <div class="alert alert-success" role="alert">>
        <span><%= notice %></span>
      </div>

    <% end %>

    <% if alert.present? %>

      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>

    <% end %>

    <%= yield %>

  </body>
</html>
