<!DOCTYPE html>
<html>
  <head>
    <title>Memoread</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= stylesheet_link_tag 'application', media: 'all' %>    

  </head>

  <body>

    <ul>

      <li><a href="/">Home</a></li>

      <% if @current_user.present? %>

        <li><a href="/my_articles">My articles</a></li>
        <li><a href="/user_sign_out">Sign Out</a></li>
        
      <% else %>

        <li><a href="/user_sign_in">Sign In</a></li>
        <li><a href="/user_sign_up">Sign Up</a></li>

      <% end %>

    </ul>

    <% if notice.present? %>

      <div>
        <span><%= notice %></span>
      </div>

    <% end %>

    <% if alert.present? %>

      <span><%= alert %></span>

    <% end %>

    <%= yield %>

  </body>
</html>
